.salmon-report {
  width: 100%;
  background: #f4f4f4;
  min-height: 100vh;
}

.salmon-report table {
  width: 80%;
  text-align: left;
  margin: auto;
  background: white;
  padding: 20px;
  box-shadow: 2px 2px 5px 1px #ddd;
  margin-bottom: 20px;
}

.salmon-report th {
  border-bottom: 2px solid grey;
}

.salmon-report h3 {
  text-align: center;
}

.salmon-info {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px 1px #ddd;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.salmon-info .salmontype-button {
  grid-column: 1;
  text-align: center;
}

.salmon-info .salmontype-button ul {
  margin: 0;
}

.salmon-info .salmontype-button li {
  list-style-type: none;
}

.salmon-info .salmontype-button li button {
  width: 80%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #345995;
  color: #345995;
  background: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.1s;
}

.salmon-info .salmontype-button li button:hover {
  color: white;
  background: #345995;
}

.salmon-info .salmontype-button li button:active {
  background: #446098;
}

.salmon-info .salmontype-button li button:focus {
  outline: 0;
}

.salmon-info .salmontype-button li button.activated {
  color: white;
  background: #375286;
}

.salmon-info .last-price {
  grid-column: 2;
  text-align: center;
}

.salmon-info .last-volume {
  grid-column: 3;
  text-align: center;
}

.salmon-info .last-report {
  grid-column: 4;
  text-align: center;
}

.salmon-info .change {
  grid-column: 5;
  text-align: center;
}

.salmon-report .toolbar {
  background: white;
  width: 80%;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px 1px #ddd;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  border-radius: 5px;
  grid-template-rows: 10% 80% 10%;
}

.salmon-report .toolbar h3 {
  text-align: center;
  grid-row: 1;
  grid-column: 3;
}

.salmon-report .salmon-graph .changes {
  grid-row: 3;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  margin: 0;
}

.salmon-report .changes-month {
  grid-row: 2;
  grid-column: 1;
}

.salmon-report .changes-quarter {
  grid-row: 2;
  grid-column: 2;
}

.salmon-report .changes-halfyear {
  grid-row: 2;
  grid-column: 3;
}

.salmon-report .changes-year {
  grid-row: 2;
  grid-column: 4;
}

.salmon-report .changes-ytd {
  grid-row: 2;
  grid-column: 5;
}

.salmon-report .toolbar .history {
  grid-row: 3;
}

.salmon-report .salmon-graph {
  border-radius: 5px;
  width: 80%;
  background: white;
  height: 50vh;
  box-shadow: 2px 2px 5px 1px #ddd;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-rows: 10% 75% 15%;
}

.salmon-report .salmon-graph .graph-tools {
  text-align: center;
  display: grid;
  grid-row: 1;
  grid-template-columns: repeat(2, 1fr);
}

.salmon-report .salmon-graph .graph-tools h3 {
  grid-column: 1;
  margin: auto;
}

.salmon-report .salmon-graph .graph-tools .timespan-buttons {
  grid-column: 2;
  margin: auto;
}

.salmon-report .salmon-graph .graph-tools .timespan-buttons button {
  border: 1px solid #345995;
  margin: 2px;
  padding: 5px 10px;
  color: #345995;
  font-weight: bold;
  text-transform: uppercase;
  background: white;
  transition: 0.1s;
}

.salmon-report .salmon-graph .graph-tools .timespan-buttons button:hover {
  color: white;
  background: #345995;
}

.salmon-report .salmon-graph .graph-tools .timespan-buttons button:active {
  background: #446098;
}

.salmon-report .salmon-graph .graph-tools .timespan-buttons button:focus {
  outline: 0;
}

.salmon-report .salmon-graph .graph-tools .timespan-buttons button.activated {
  color: white;
  background: #375286;
}
.salmon-report .salmon-graph .recharts-responsive-container {
  grid-row: 2;
  margin: auto;
}

.App-loading {
  min-height: 100vh;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .salmon-info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 5px;
  }

  .salmon-info .last-price {
    grid-column: 1;
    grid-row: 1;
  }

  .salmon-info .last-volume {
    grid-row: 1;
    grid-column: 2;
  }

  .salmon-info .last-report {
    grid-row: 2;
    grid-column: 1;
  }

  .salmon-info .change {
    grid-row: 2;
    grid-column: 2;
  }

  .salmon-info .salmontype-button {
    grid-column: span 2;
    grid-row: 3;
    align-self: center;
  }
  .salmon-report .salmon-graph {
    width: 100%;
    height: 60vh;
    padding: 0;
  }

  .salmon-report .salmon-graph .recharts-responsive-container {
    height: 100%;
  }

  .salmon-report .salmon-graph .graph-tools {
    margin: 10px;
  }

  .salmon-info .salmontype-button ul {
    padding: 0;
  }
}
